$blue900: #1b3cbc;
$blue800: #115ddb;
$blue700: #0270ee; /* PRIMARY */
$primary: $blue700;
$blue600: #0082ff;
$blue500: #0091ff;
$blue400: #1fa2ff;
$blue300: #54b3ff;
$blue200: #8ac8ff;
$blue100: #b9ddff;
$blue50: #e2f2ff;
$orange900: #df5700;
$orange800: #e87000;
$orange700: #ee8002; /* COMPLEMENTARY */
$orange600: #f48f05;
$orange500: #f89b08;
$orange400: #f8aa29;
$orange300: #f9b94f;
$orange200: #fbcd81;
$orange100: #fce1b3;
$orange50: #fef3e0;
$teal900: #007774;
$teal800: #009ca2;
$teal700: #00b1ba;
$teal600: #00c7d6;
$teal500: #00d8e9;
$teal400: #00e0eb;
$teal300: #02e6ee; /* ANALAGOUS  teal*/
$secondary: $teal300;
$teal200: #74eef2;
$teal100: #aff5f6;
$teal50: #dffbfb;
$bluealt900: #0000e6;
$bluealt800: #0000ea;
$bluealt700: #0a02ee; /* ANALAGOUS 2  blue alt */
$bluealt600: #3a0ff6;
$bluealt500: #4c14fc;
$bluealt400: #7343fe;
$bluealt300: #9168fe;
$bluealt200: #b496fd;
$bluealt100: #d3c0fd;
$bluealt50: #efe5ff;
$violet900: #3200d4;
$violet800: #5300da;
$violet700: #6400df;
$violet600: #7400e8;
$violet500: #8002ee; /* TRIADIC  violet */
$violet400: #9643f2;
$violet300: #aa6af5;
$violet200: #c398f7;
$violet100: #dbc2fa;
$violet50: #f2e6fd;
$pink900: #8b0159;
$pink800: #b00362;
$pink700: #c60467;
$pink600: #dc036c;
$pink500: #ee0270; /* TRIADIC 2  pink */
$pink400: #ef3a87;
$pink300: #f1609d;
$pink200: #f48fba;
$pink100: #f7bbd5;
$pink50: #fce4ee;
