// FONT SIZE
$f-xs: 0.5rem;
$f-s: 0.75rem;
$f-m: 1rem; /* 16px */
$f-l: 1.5rem;
$f-xl: 2rem;

// HEIGHT
$h-xs: 2rem;
$h-s: 3rem;
$h-m: 4rem; /* 64px */
$h-l: 5rem;
$h-xl: 6rem;

// WIDTH
$w-full: 100%;
$w-half: 50%;
$w-quarter: 25%;
$w-l: 100rem;
$w-m: 50rem;
$w-s: 25rem;

// SPACING
$spacing-xs: 0.25rem;
$spacing-s: 0.5rem;
$spacing-m: 0.75rem;
$spacing-l: 1rem;
$spacing-xl: 1.5rem;

// BORDER
$radius-1: 1px;
$radius-2: 2px;
$radius-3: 3px;
$radius-4: 4px;
$radius-5: 5px;
